<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Texter</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Texter</a>
            </div>
        </nav>
        <div class="container-fluid text-center" id="texter-content">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-5">
                    <form>
                        <div class="form-group">
                            <label>Phone Number:</label>
                            <input class="form-control" name="phone-number" placeholder="Phone Number" />
                        </div>
                        <div class="form-group">
                            <label>Carrier:</label>
                            <select class="form-control" name="carrier">
                                <option value="at&t">AT&T</option>
                                <option value="cricket">Cricket</option>
                                <option value="sprint">Sprint</option>
                                <option value="t-mobile">T-Mobile</option>
                                <option value="u.s. cellular">U.S. Cellular</option>
                                <option value="verizon">Verizon</option>
                                <option value="virgin">Virgin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Message:</label>
                            <input class="form-control" name="message" />
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/underscore/underscore-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/backbone/backbone-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
